<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется в процессе публикации или упаковки вашего веб-проекта. Вы можете настроить поведение процесса,
изменив этот файл MSBuild. Дополнительные сведения см. по адресу http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://takemymoneyapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>takemymoneyapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>TakeMyMoneyAPI</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$TakeMyMoneyAPI</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="TakeMyMoneyDB" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:takemymoneydbserver.database.windows.net,1433;Initial Catalog=TMMDB;Persist Security Info=False;User ID=vladyslav;Password=Pass1234;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;ApplicationIntent=ReadWrite" Name="Data Source=tcp:takemymoneydbserver.database.windows.net,1433;Initial Catalog=TMMDB;Persist Security Info=False;User ID=vladyslav;Password=Pass1234;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;ApplicationIntent=ReadWrite" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="WebApi.Models.TMMDbContext, WebApi" MigrationConfiguration="WebApi.Migrations.Configuration, WebApi" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TakeMyMoneyDB-Web.config Connection String">
      <ParameterValue>Data Source=tcp:takemymoneydbserver.database.windows.net,1433;Initial Catalog=TMMDB;Persist Security Info=False;User ID=vladyslav;Password=Pass1234;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;ApplicationIntent=ReadWrite</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>